 .video-preview {
    width: 100%;
    margin-right: 0;
 }

.images {
    height: 300px;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
  }
  
  .images:hover {
    cursor: pointer;
  }
  
  .video-title {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  
  .channel-picture {
    vertical-align: top;
  }
  
  .video-info {
    vertical-align: top;
  }
  
  .profile-picture {
    width: 40px;
    border-radius: 50px;
  }
  
  .thumbnail-row {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  
  @media (max-width: 750px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 751px) and (max-width:999px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .video-time {
    font-family: roboto, arial;
    font-weight: 500;
    border-radius: 5px;
    font-size: 20px;
    background-color: black;
    padding: 5px;
    opacity: 80%;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }